*
{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.w3-top {
  background: white;
  position: relative;
}

.bouncey {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, white, white , pink);
}


.toeatlist {
  -webkit-filter: drop-shadow(4px 6px rgba(0,0,0,0.2));
  filter: drop-shadow(4px 6px rgba(0,0,0,0.2));
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  from {
    bottom: 20px;
  }

  to {
    bottom: 100%;
  }
}

.shadow {
  margin-top: 50px;
  height: 50px;
  width: 200px;
  z-index: 100;
  left: 50;
}

.bouncey .shadow {
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-name: grow;
  animation-iteration-count: infinite;
  bottom: 0;
  position: relative;
  background: radial-gradient(50% 50%, #000 0%, #fff 100%);
}

@-webkit-keyframes grow {
    from {
    bottom: 0;
    margin-left: 0;
    height: 50px;
    opacity: 1;
    width: 200px;
  }

  to {
    bottom: -15px;
    margin-left: 0px;
    height: 80px;
    opacity: 0.4;
    width: 300px;

  }
}

@keyframes grow {
  from {
    bottom: 0;
    margin-left: 0;
    height: 50px;
    width: 200px;

  }

  to {
    bottom: 20px;
    margin-left: 0;
    height: 10px;
    width: 15px;
  }
}

.Enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -70px;

}
