*
{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
body {
  background-image: linear-gradient(to right, #fa98db, white);
}

.w3-top {
  background: white;
  position: relative;
}

.Enter {
  display: grid;
  place-items: center;
  position: relative;

}

.bouncey {
  height: 100%;
  left: 50%;
  position: absolute;
}

.shadow {
  background: radial-gradient(50% 50%, #000 0%, #fff 100%);
  height: 50px;
  width: 200px;
}

.toeatlist {
  display: grid;
  place-items: center;
  justfiy-items: center;
  position: relative;
  -webkit-filter: drop-shadow(4px 6px rgba(0,0,0,0.2));
  filter: drop-shadow(4px 6px rgba(0,0,0,0.2));
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
}

.bouncey .shadow {
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: grow;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-name: grow;
  animation-iteration-count: infinite;
  bottom: 0;
  position: absolute;
}

@-webkit-keyframes grow {
  from {
    bottom: 0;
    margin-left: -100px;
    height: 50px;
    opacity: 1;
    width: 200px;
  }

  to {
    bottom: -15px;
    margin-left: -150px;
    height: 80px;
    opacity: 0.4;
    width: 300px;
  }
}

/*@keyframes grow {
  from {
    bottom: 0;
    margin-left: -100px;
    height: 50px;
    width: 200px;
  }

  to {
    bottom: 20px;
    margin-left: 0;
    height: 10px;
    width: 15px;
  }
}*/

