*
{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
body {
	background:  #fa98db;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
	
}

.toeatlist {
  z-index: 1;
  display: grid;
  place-items: center;/*
  position: absolute;
  bottom: 0;
  left: 37%; half the container width
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
}

.donut {
  z-index: 0;
  animation: stretch 7s infinite;
  display: grid;
  place-items: center;
  /*position: absolute;
  left: -1%;
  top: 50%;
  transform: translate(-50%,-50%);*/
}

@keyframes stretch {
  0% {
    transform: scale(.1);
    opacity: 1;  
  }
  100% {
    transform: scale(10.0);
    Opacity:0.2;
  }
}

.w3-top {
  background: white;
  position: relative;
}

.Enter {
  z-index: 3;
  display: grid;
  place-items: center;
/*  bottom: 0;
  left: 45%; half the container width
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
}

