
body {
	background:  #ffe6f2;
}

.w3-image {
    position: -webkit-sticky;
    top: 200px;
    float: right;
    animation: flash linear 2s;
    position:sticky;
}

@keyframes flash {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; } 
}

.flash {
    position: -webkit-sticky;
    top: 100px;
    float: right;
    animation: flash linear 2s;
    z-index: -1;
    position:relative;
}

@keyframes flash {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; }

} 
