
body {
	background:  #ffe6f2;
}

.w3-image {
    position: -webkit-sticky;
    z-index: 1;
    float: centre;
    animation: flash linear 2s;
}

@keyframes flash {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; } 
}

.flash {
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.5);
  }
}

