*
{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
body {
	background-image: linear-gradient(180deg, #fa98db 50%, white 50%);
}

/*
.donut {
  z-index: 0;
  animation: stretch 7s infinite;
  position: absolute;
  left: 25%;
  top: 0;
  transform: translate(-50%,-50%);
}

@keyframes stretch {
  0% {
    transform: scale(.1);
    opacity: 1;  
  }
  100% {
    transform: scale(10.0);
    Opacity:0.2;
  }
}
*/
.w3-top {
  background: white;
  position: relative;
}

.toeatlist {
  z-index: 5;
  display: grid;
  place-items: center;
  position: relative;/*
  bottom: 0;
  left: 37%; half the container width
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/  
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
}
.Enter {
  z-index: 5;
  display: grid;
  place-items: center;
  position: relative;
/*  bottom: 0;
  left: 45%; half the container width
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
}

