
body {
	background:  #ffe6f2;
}

.w3-image {
    position: -webkit-sticky;
    z-index: 1;
    float: centre;
    animation: flash linear 2s;
}

@keyframes flash {
    0% { opacity: 1; }
    30% { opacity: 0.1; }
    100% { opacity: 1; } 
}

.donut {
    position: relative;
    Top: 350px;
    z-index: 2;
    height: 100%;
    animation: stretch 7s infinite;
    display: inline-block;
}

@keyframes stretch {
  0% {
    transform: scale(.1);
    opacity: 1;  
  }
  100% {
    transform: scale(10.0);
    Opacity:0.3;
  }
}

