*
{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
}
body {
  background-image: linear-gradient(to right, #fa98db, white);
  box-shadow: 5px rgb(0,0,0,0.2);
}

.w3-top {
  background: white;
  position: relative;
}

.toeatlist {
  z-index: 5;
  display: grid;
  place-items: center;
  position: relative;
  -webkit-filter: drop-shadow(2px 4px #666666);
  filter: drop-shadow(2px 4px #666666);
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
}
.Enter {
  z-index: 5;
  display: grid;
  place-items: center;
  position: relative;

}

